<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="https://th.bing.com/th/id/OIP.UQL0pLRWhVPYyHQvT7x0_gHaHa?pid=ImgDet&w=202&h=202&c=7&dpr=1.1">
        <meta charset="utf-8">
        <title>Get unban</title>
        <script>
            alert(`Please type your infomation Correctly! (this web super safely)`)

            // document.addEventListener('DOMContentLoaded', function() {


            // });

        </script>
    </head>
    <body>
        <h1>Type your Infomation, Please!</h1>
        <form>
            <div>
                Name: 
                <input id="name" name="name" placeholder="Last name" type="text" required>
            </div>
            <div>
                Birth: 
                <input id="day" name="day" placeholder="Day" type="number" min="1" max="31" required>
                /
                <input id="month" name="month" placeholder="Month" type="number" min="1" max="12" required>
            </div>
            <input type="submit">
        </form>
    </body>
</html>